/* thrown away comment */
@import "~bootstrap/dist/css/bootstrap.css";

.fa {
  content: 'fa';
}

.my-favorite-class {
  background: blue;
}

.fa-other {
  content: 'foo';
}

.fa-address-book-o {
  content: 'fa';
}

.fa-save, .fa-floppy {
  content: 'fa';
}

.fa-table {
  content: 'fa';
}

.fa-blacklisted {
  content: 'fa';
}
