/* thrown away comment */
@import "~bootstrap/dist/css/bootstrap.css";

.fa {
  content: 'fa';
}

.fa-address-book-o {
  content: 'fa';
}

.fa-save, .fa-floppy {
  content: 'fa';
}

.fa-table {
  content: 'fa';
}

.fa-other {
  content: 'foo';
}

.my-favorite-class {
  background: blue;
}

.fa-blacklisted {
  content: 'fa';
}

.non-whitelisted {
  content: 'fa';
}

:local .my-local-class :global .fa-table {
  content: 'locally scoped';
}
